<div class="selection">

    <div class="contenedor">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>

</div>
<style>
    .selection{
        background-color: red;
        width: calc(100vw - 400px);
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .selection .contenedor{
        width: 20%;
        display: flex;
        justify-content: space-between;
    }

    .selection .contenedor .circle{
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
</style>